/* © Libexus, 2021 */

.greenBlink {
    animation-name: greenBlink;
    animation-duration: 0.5s;
}

@keyframes greenBlink {
    0%   { background-color: white; }
    50%  { background-color: rgb(151, 223, 151); }
    100% { background-color: white; }
}
.redBlink {
    animation-name: redBlink;
    animation-duration: 1s;
}

@keyframes redBlink {
    0%   { background-color: white; }
    50%  { background-color: rgb(233, 188, 158); }
    100% { background-color: white; }
}
