/* © Libexus, 2021 */

:root {
    --default-spacing: 2rem;
    
    --default-border: 1px solid #ccc;
    --default-radius: 0.6rem;

    --green: #d2ffce;
    --green-dark: #80c87a;
    --red: #ffddd0;
    --red-dark: #c88e7a; 
}
