/* © Libexus 2021 */

@import "_constants.css";
@import "_animations.css";

* {
    font-family: "Inter", "DejaVu Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 { font-size: 1.5rem; }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-elem {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-gap: var(--default-spacing);
    padding: var(--default-spacing);
    border: var(--default-border);
    border-radius: var(--default-radius);
    user-select: none;
    position: relative; 
}

.letter {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    left: 0;
}

.letter.to-right {
    transition: left 0.5s, opacity 0.4s;
    left: 100px;
    opacity: 0%;
}

.letter.to-left {
    transition: left 0.5s, opacity 0.4s;
    left: -100px;
    opacity: 0%;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: var(--default-radius);
    position: relative;
}

.bottom-desc {
    position: absolute;
    bottom: 0;
    font-size: var(--default-radius);
    line-height: 1.5;
}

.stats-value {
    font-family: monospace;
}

#left {
    background-color: var(--red);
    border: 1px solid var(--red-dark);
}

#right {
    background-color: var(--green);
    border: 1px solid var(--green-dark);
}

#stats {
    margin-left: var(--default-spacing);
}

#pin {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1rem;
    width: 1rem;
    margin: 0.2rem;
}

#pin:not(.pinned) > :last-child { display: none; }
#pin.pinned > :last-child { display: block; }
#pin.pinned > :first-child { display: none; }
